.gameboard-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}


.gameboard {
    display: grid;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.gameboard.grid_10x10 {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 500px;
    width: 500px;
}

.gameboard.grid_8x8 {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 400px;
    width: 400px;

}

.gameboard-container p {
    font-size: 1.4rem;
}

.gameboard-container .next {
     color: #E49B0F; 
    font-weight: 700;
    font-size: 1.6;
}

.gameboard-container .re_match {
    color:#fff !important;
}