.gameboard-container {
    text-align: center;
    display: flex;
    flex-direction: column;
}


.gameboard {
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    border: 1px solid #000000;
}