.home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .new_game_button {
    font-size: 1.2rem !important;
    margin-bottom: 1rem;
}